.center {
    text-align: center;
    font-size: 14pt;
    padding: 0.1%;
}

.click {
    background: #D0E0FF;
}

.empty {
    background: #FFFFFF;
    border: 0;
}

.fst {
    border-bottom: 0;
}

.mid {
    border-bottom: 0;
    border-top: 0;
}

.last {
    border-top: 0;
}

select {
    font-size: 14pt;
    text-align-last: center;
}

table {
    margin: auto;
    border: 4px #A9A9A9; /* рамка вокруг таблицы */
    border-collapse: collapse; /* отображать только одинарные линии */
}

th, td { 
    text-align: center;
    padding: 5px; /* поля вокруг содержимого ячеек */
    border: 1px solid #A9A9A9; /* граница вокруг ячеек */
}

th {
    font-weight: normal;
    background: #F5F5F5;
}