.center {
    text-align: center;
    font-size: 14pt;
    padding: 0.1%;
}

.click {
    background: #D0E0FF;
}

.empty {
    background: #FFFFFF;
    border: 0;
}

select {
    font-size: 14pt;
    text-align-last: center;
}

table {
    margin: auto;
    border: 4px #A9A9A9;
    border-collapse: collapse;
}

th, td { 
    text-align: center;
    padding: 5px;
    border: 1px solid #A9A9A9;
}

th {
    font-weight: normal;
    background: #F5F5F5;
}